moviepy==1.0.3
edge-tts>=6.1.10
requests==2.31.0
pillow==9.5.0
numpy<2.0.0
decorator==4.4.2
proglog<=0.1.10
tqdm==4.66.1
python-dotenv==1.0.0
mutagen==1.47.0
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
feedparser
pytrends
google-generativeai
